body{
  background:linear-gradient(90deg,green,white ,#FF5733);
}
#welcome-section{
  height:20vh;
}
#navbar{
display:block;
  top:0;
    max-width:20em;
  width:100%;
  margin:0 auto;
  position:fixed;
  

}
#navbar ul{
    display: block;

  
    

}
#navbar ul li{
  display:inline-block;
  list-style:none;
  
  top:0;
  width=100%;
  
  
}
#navbar ul li a{
  display:block;
  font-size:1.5rem;
    text-decoration:none;
  padding:0 0em;
  border:0.1em transparent solid;
  border-radius:20%;
  margin:0.2em 0.25em;
  border-padding: 0.5em 0.5em;

}
 .head{
  
  font-family: 'Architects Daughter';
  display:inline-block;
  font-size:3.5rem;
  
  
  text-shadow: 0.05em 0.05em 0.2em skyblue;
  color:white;
  
  
  border: 0.1em transparent solid;
  border-radius:25%;
  padding: 0.2em 0.5em;
   
  animation: butt 1s;
  transition: box-shadow 1.25s,box-color 1.25s, background 1s;
}
@keyframes butt{
100%{
  box-shadow: inset 0.15em 0.15em 0.5em skyblue;
  
  }
}
#welcome-section .head:hover{
    box-shadow: 0 0em 0.25em 0em skyblue, 0em 0em 0.75em 0em skyblue;
    border-color:skyblue;
  background:skyblue;


}

.project-tile a{
  color: hsl(314,100%,54%);
  display:inline;
  text-decoration:none;

  
  
}
.profile{
  
  display:grid;
  place-items:center;
  grid-gap:1em;
  margin-left: auto;
  margin-right:auto;
  margin-top:5em;
  
}
#profile-img{
  display:flex;
  
  height: 15rem;
  width:16em;
  border: 0.15em brown solid;
  border-radius:30%;
  border-padding:10em;
  align:center;
    border-color:white #FF5733 white green;
  box-shadow: 0em 0em 0.8em 0.3em skyblue;


}
#profile-img:hover{
    box-shadow: 0.2em 0.2em 1em 0.35em skyblue;

  
}
#profile-name{
  font-size:1.5em;
  font-family: 'Sigmar One', cursive;
  color:Royalblue;
  border: 0.1em transparent solid;
   
}
b{
  font-size:1.75em;
  font-family:'noto sans jp';
  border-bottom: 0.1em transparent solid;
}
#project{
  font-size: 3em;
}
#profile-link{
  max-width:3em;
  width:100%;
  font-size:2em;
  text-decoration:none;
  color:skyblue;
  display:block;
  margin-left:auto;
  margin-right:auto;
  align-text:center;
  border-radius:20%;
}
#profile-link:hover{
  text-shadow: 0 0 0.1em black;
  background:linear-gradient(90deg,green ,#FF5733);
  
}
@media(max-width:720px){
  
}
footer{
  max-width:5vh;
  width:100%;
  margin:0 auto;
  align-text:center;
  color:white;
}
